{% extends 'base.html' %}
{% block title%}Add or Edit Expense{% endblock title%}
{% block body %}
{% include 'layout/navbar.html' %}
<div class="container mt-3">
    <h3>Add Expense</h3>
    <form action="" method="POST">
        <!--CRFS TOKEN-->{% csrf_token %}
        <div class="form-group">
            <label for="inputtitle">Title</label>
            <input type="text" class="form-control" id="inputtitle" name="title">
        </div>
        <div class="form-group">
            <label for="inputAmount">Expense Amount (RS)</label>
            <input type="number" class="form-control" id="inputAmount" placeholder="45848" name="amount">
        </div>
        <div class="form-group">
            <label for="inputCategory">Expense Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="inputSlug">Slug or Custom URL</label>
            <input type="text" class="form-control" id="inputSlug" name="slug">
        </div>
        <div class="form-group">
            <label for="description">Description</label><br>
            <textarea id="description" class="form-control" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="inputDate">Expense Date</label>
            <input type="date" class="form-control" id="inputDate" name="date">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock body %}