<!-- exchange_rates.html -->
{% extends 'base.html' %}
{% block title %}Exchange Rates{% endblock %}
{% block body %}
{% include 'layout/navbar.html' %}
<h2 class="container mt-3">Live Exchange Rates (Based on USD)</h2>
<table class="table table-striped container">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Exchange Rate (to USD)</th>
        </tr>
    </thead>
    <tbody>
        {% for currency, rate in rates.items %}
        <tr>
            <td>{{ currency|slice:3 }}</td>  <!-- Remove 'USD' prefix -->
            <td>{{ rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body%}
