{% extends 'base.html' %}

{% block body %}
<h2 class="container">Sign Up</h2>
<form class="container" action="/signup/" method="post">{% csrf_token %}
    <label for="inputUsername">Username</label>
    <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required
        autofocus><br>
    <label for="inpuFirstname">First Name</label>
    <input name="firstname" type="text" id="inpuFirstname" class="form-control" placeholder="Firstname" required
        autofocus><br>
    <label for="inputLastname">Last Name</label>
    <input name="lastname" type="text" id="inputLastname" class="form-control" placeholder="Lastname" required
        autofocus><br>
    <label for="inputEmail">Email</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
        autofocus><br>
    <label for="inputPassword">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
    <label for="inputConfirmPassword">Confirm Password</label>
    <input name="password2" type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
        required><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
</form>
<div class="form-group container mt-2">
    <label>Already a regestered user? <a href="/user_login">Sign In</a></label>
</div>
{% endblock body%}